.spanimgtit {
    height: 200px;
    width: 200x;
    display: flex;
    flex-direction:row;
    justify-content: space-evenly; }

    .container1 {
  background-color: rgb(232, 80, 209);
  height: 50px;
  display: flex;
  flex-direction:row;
  justify-content: space-evenly;
  max-width: 100%;
  min-width: 100%;} 

.container1 > div {
  color: white;
  background-color: red;
  margin: 10px;
  padding: auto;
  font-size: 20px;
  transition-property: all;
  transition-duration: 2s;
  transition-timing-function:ease-in;
  min-width: 70px;
  min-height: 30px;  
 } 

h1{ 
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
    color: rgb(214, 59, 245);
}
.imagespan > span{
  height: 50px;
  width: 50px;
  align-self: right;

}

header > h1 {
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: aqua;
  color: yellow;}

 
h2 {

  font-family:'Segoe UI';
  font-size: 45px;
  color: yellow;
  text-align: center;}

body{
    background-color: black;}

p, article, footer, a { 
    color:rgb(222, 117, 243);
    font-family:'Franklin Gothic Medium';
    font-size: 20px;
    size-adjust: 100%;}


h3 { 
  color: yellow;
  font-size: 30px;
  font-family: Verdana;
  text-align: center;}

 .container1 {
  background-color: rgb(232, 80, 209);
  height: 50px;
  display: flex;
  flex-direction:row;
  justify-content: space-evenly;
  max-width: 100%;
  min-width: 100%;} 

.container1 > div {
  color: white;
  background-color: red;
  margin: 10px;
  padding: auto;
  font-size: 20px;
  transition-property: all;
  transition-duration: 2s;
  transition-timing-function:ease-in;
  min-width: 70px;
  min-height: 30px;  
 } 
 div > a {
  color:black;
  transition-property: all;
  transition-duration: 2s;
  transition-timing-function:ease-in; } 

  
   .container{
    margin: auto;
    background-color: black;
    width: 800px;
    padding: 30px;
    justify-content: space-evenly;
  }

  

ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.slider{
  position: relative;
  width: 800px;
  height: 300px;
}

ul.slider li {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .5s;
    background:#fff;
}

ul.slider li img{
  width: 100%;
  height: 300px;
  object-fit: cover;
}

ul.slider li:first-child {
    opacity: 1; 
}

ul.slider li:target {
    opacity: 1; 
}

.menu{
  text-align: center;
  margin: 20px;
}

.menu li{
  display: inline-block;
  text-align: center;
}

.menu li a{
  display: inline-block;
  color: white;
  text-decoration: none;
  background-color: grey;
  padding: 10px;
  width: 20px;
  height: 20px;
  font-size: 20px;
  border-radius: 100%;
}

